
html {
  scroll-behavior: smooth;
}

#navbar {
  overflow: hidden;
  transition: 0.4s;
  position: fixed;
  max-width: 100%;
  top: 0;
  z-index: 99;
}

#topArea{ 
  position: relative;
  padding-left: 20px;
  width: 100%;
  margin-top:51px; 
  min-height: 50px;
  background-image:url("/Users/pratyaksh/Desktop/photo-01.jpeg"); 
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 5px;
  opacity: 0.8;
}
#sideArea{
  position: relative;
  padding-left: 3%;
  padding-top:20px; 
  min-height: 300px;
  width: 35%;
  background-color: white;
  float:left;
}

#rightArea{
  font-color:black;
  position: relative;
  float: left;
  width: 60%;
  margin-right:1.5%; 
  min-height: 200px; 
  padding-left:1%;
  padding-right:1%; 
  background-color: rgb(228,228,228);
  border-radius:20px;   
}

.clear{
  clear:both;
}

#img1{
  position: relative;
  margin-left: 8%;
  padding-top: 20px;
}

#img2{
  
  position: relative;
  padding-top: 10px;
}
#img3{
  
  position: relative;
  padding-top: 30px;
}
#img4{
  position: relative;
  padding-left: 8%;
  padding-top: 15px;
}
.image {
  opacity: 1;
  display: block;
  width: 130%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 12px;
  size: auto;

}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding-left: 130px;

  
}

.iamge:hover .image {
  opacity: 0.3;
}

.image:hover .middle {
  opacity: 1;
}

.text {
  color: white;
  font-size: 16px;
  background-color:black;
  text-align: center;
  border-radius: 6px;
}
  
#carouselArea {
  position: relative;
  margin-left: 0%;
  margin-right: 0%;
  height: 550px;
  width: 600px;
  background-color: white;
  float:left;
  
}
.carousel-inner {
        padding-top:2px;
        height: 270px;
        width: 100%;
    }
    .carousel .item {
  width: 100%;
        height: 270px;
}

    .item,
     img {
        
        width: 100%;
        height: 270px;
        margin: auto; 
        display: block;

    }

.cont{
  width:100%;
  height: 270px;
  padding-top: 65px;
  margin-left: 0%;

}
#eventsArea{
  font-color:black;
  float:left;
  width: 600px;
  margin-left:8%; 
  margin-right:0%; 
  margin-bottom: 2%;

}
 
#teamMembers{
  position: relative;
  width: 97.5%;
  margin-left: 1.3%;
  padding-top:85px; 
  float: left;
  min-height: 900px;
  background-image: linear-gradient(to right, rgb(228,228,228), rgb(168, 218, 220));
  border-radius:20px;
} 

#cardarea{
        position: relative;
        padding-top:10px;
        vertical-align:center;
        padding-left: 30px;
}

 #header{
  padding-top: 60px;
 }

 .flip-card {
  background-color: transparent;
  width: 180px;
  height: 200px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

#footerArea{
  position: relative;
  min-height: 100px;
  width: 98%;
        top: 35px;
}

#median{
  width: 100%;
  margin-left: 0;
  background-color: rgb(80,155,260);
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 90%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active1, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active1:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  width: 90%;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

  .icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons i{
    font-size: 2em;
    padding: 1em;
}

input[type=text], select, textarea {

  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container1 {
  border-radius: 5px;
  background-color: rgb(168, 218, 220);
  padding: 2%;
  margin-left:5%;
  width: 40%;
  float: left;
}

.container2 {
  border-radius: 8px;
  background-image: linear-gradient(to right, rgb(241, 250, 238), rgb(168, 218, 220));
  padding: 0%;
  margin-left:15%;
  margin-top: 3%;
  width: 10%;
  float: left;
}

.containerbig {
    position: relative;
  border-radius: 5px;
  background-color: rgb(168, 218, 220);
  padding: 4%;
  margin-left:15%;
  margin-right:15%;
  margin-top: 7%;
  width: 70%;
  float: left;
}
.containerbig2 {
  position: relative;
  margin-left:5%;
  margin-right:0%;
  margin-top: 7%;
  width: 95%;
  float: left;
}

 #imageresize{
  height: 10%;
  width:5%;

 }
#imageresize2{
  height: 60%;
  width:20%;

 }
